html {
    background-color: hsl(0, 0%, 0%); /*устанавливаем черный цвет фона для всей страницы*/
    color: hsl(0, 0%, 100%);/*устанавливаем белый цвет текста по умолчанию для всей страницы*/
    font-family: "Inter", sans-serif; /*задаем шрифт Inter как основной, с запасным sans-serif*/
}

p {
    font-size: 14px; /*устанавливаем фиксированный размер шрифта 14 пикселей для всех параграфов */

}

.main img {
    display: block;/*делаем изображение блочным элементом*/
    border-radius: 50%; /*скругляем углы изображения до 50%*/
    width: 100px; /* устанавливаем фиксированную ширину изображения в 100 пикселей */
    margin: 0 auto; /* горизонтально центрируем изображение внутри его родительского блока */
}

.main {
    background-color: hsl(0, 0%, 12%); /* устанавливаем цвет фона для карточки */
    text-align: center; /* центрируем весь встроенный текст и строчные элементы внутри карточки*/
    margin: 200px auto 0 auto;/*устанавливаем верхний отступ 200px, а по бокам центрирует карточку по горизонтали */
    width: 350px;/*устанавливаем фиксированную ширину карточки в 350 пикселей*/
    padding: 20px;/*устанавливаем внутренние отступы в 20 пикселей со всех сторон*/
    border-radius: 12px;/*скругляем углы карточки на 12 пикселей*/
}

.main button {
    background-color: hsl(0, 0%, 20%); /* устанавливаем цвет фона для кнопок */
    color: hsl(0, 0%, 100%);/*устанавливает цвет текста для кнопок */
    display: block;/* делаем кнопки блочными элементами, что позволяет им занимать всю доступную ширину и располагаться друг под другом */
    margin: 10px auto;/*добавляем верхний и нижний отступ 10px, а по бокам центрирует кнопки */
    width: 200px; /*устанавливаем фиксированную ширину кнопок */
    height: 40px;/* устанавливает фиксированную высоту кнопок */
    border-radius: 8px;/*скругляет углы кнопок*/
    font-weight: 700;/* делает текст кнопок жирным */
    cursor: pointer;/*изменяем курсор на указатель при наведении, показывая, что элемент интерактивен */
    border: none;/* убираем стандартную границу кнопок */
    transition: all .3s;/*добавляем плавность*/
}

.main button:hover { /*стили для кнопок при наведении курсора */
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}

@media (max-width: 600px) { /*стили для экранов шириной до 600 пикселей*/
    .main {
        width: 80%;/*карточка занимает 80% ширины экрана*/
        margin-top: 120px;/*уменьшаем верхний отступ */
        padding: 15px;/* уменьшаем внутренние отступы*/
        font-size: 12px;/* уменьшаем базовый размер шрифта внутри карточки */
    }

    .main img {
        width: 80px;/*уменьшаем размер изображения профиля */
    }
}

@media (max-width: 400px) {/*стили для экранов шириной до 400 пикселей*/
    .main {
        width: 90%;
        margin-top: 100px;
    }

    .main button {
        width: 180px;
        height: 38px;
    }
}
